# Brownie
__pycache__
.history
.hypothesis/
build/
reports/
.env
venv/
cache/
artifacts/
hardhat/
Uniswap/
OpenZeppelin/
flattened/
out/
lib/

# Node/npm
node_modules/
node_modules/.yarn-integrity

# Poetry
poetry.lock
