[submodule "/Users/joshuaguessennd/Desktop/DeFi/basis/lib/ds-test"]
	path = /Users/joshuaguessennd/Desktop/DeFi/basis/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "/Users/joshuaguessennd/Desktop/DeFi/basis/lib/openzeppelin-contracts"]
	path = /Users/joshuaguessennd/Desktop/DeFi/basis/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "/Users/joshuaguessennd/Desktop/DeFi/basis/lib/v3-core"]
	path = /Users/joshuaguessennd/Desktop/DeFi/basis/lib/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "/Users/joshuaguessennd/Desktop/DeFi/basis/lib/v3-periphery"]
	path = /Users/joshuaguessennd/Desktop/DeFi/basis/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "/Users/joshuaguessennd/Desktop/DeFi/basis/lib/openzeppelin-contracts-upgradeable"]
	path = /Users/joshuaguessennd/Desktop/DeFi/basis/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
